<div class="empty_cart col-lg-6 col-md-12">
    <img src="/images/empty-cart.png" class="col-md-12 col-sm-12" alt="">
    <h2>Your Wish list is Currently Empty</h2>
    <a class="btn" href="/">BACK TO HOME</a>
</div>
