<div class="empty_cart col-lg-6 col-md-12" style="margin-bottom: 5rem;">
    <img src="/images/empty-cart.png" class="col-md-12 col-sm-12" alt="">
    <h2>There are no  orders yes</h2>
    <a class="btn" href="/products">Purchase</a>
</div>
<style>
    .empty_cart a:hover{
        color:#ffff;
    }
    
</style>